$background-transition--primary: .2s background ease-in;
$opacity-transition--primary: .4s opacity ease-out;
$visibility-transition--primary: .4s visibility ease-out;
$color-transition--primary: .2s color ease-in;