$spinner__width: 3.2rem;
$spinner__margin: 0 auto;

.spinner {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: $spinner__margin;
    width: $spinner__width;
}