$color-white: #fff;
$color-mako: #404346;
$color-concrete: #f2f2f2;
$color-shark: #26292c;
$color-silver-sand: #cbcccd;
$color-royal-blue--primary: #317ae2;
$color-royal-blue--secondary: #498ae5;
$color-nobel: #b3b3b3;
$color-selago: #dee9fa;
$color-indigo: #5487c4;
$color-semi-black: rgba(0, 0, 0, 0.5);
$color-alabastera: #f7f7f7;
$color-jungle-green--primary: #2cbf55;
$color-jungle-green--secondary: #3dc463;
$color-jungle-green: #2cbf55;
$color-alto: #d9d9d9;
$color-dov-gray: #6d6d6d;
$color-silver: #c2c2c2;
$color-cinnabar: #e84646;
