$base-font-size: 62.5%;
$default-font-size: 1.5rem;
$font-size--sm: 1.3rem;
$font-size--m: 2rem;
$default-font-family: 'Open Sans', sans-serif;

$font-weight--xs: 100;
$font-weight--sm: 300;
$font-weight--m: 400;
$font-weight--l: 700;
$font-weight--xl: 800;